@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Arial', sans-serif;
}

#map {
    font-family: 'Lato', 'Arial', sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.geocoder-control-input {
    font-family: 'Lato', 'Arial', sans-serif;
}

#info-pane {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 400;
    padding: 0px 10px 0px 10px;
    background: white;
    font-size: 6vw;
}

/*@media screen and (min-width: 1200px) {
  #info-pane {
     font-size: 4em;
  }*/
}

#info-pane2 {
    position: absolute;
    bottom: 25px;
    right: 10px;
    z-index: 400;
    padding: 5px;
    background: white;
    font-size: 0.725em;
    opacity: 0.9;
}

.fa-map-marker:before {
    font-size: 21px;
    line-height: 28px;
}

.leaflet-control-locate a {
    padding: 0px;
}

p {
    padding: 2px;
    margin: 2px;
}

.easy-button-button {
	font-size: 20px;
    line-height: 20px;
    padding: 0px;
}

#close {
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 5px;
	color: rgba(60, 60, 60, 0.60);
    cursor: default;
}

#close:hover {

    /*display:inline-block;
    /*padding:2px 5px;
    /*background:#ccc;*/
    color: #000000;
}

#sidebar {
	position: relative;
	padding: 10px 20px 10px 20px;
}

#tooltip-default {
    font-size: 1.3em;
}

#texto-instr {
    padding-left: 10px;
}